<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="icon" type="image/ico" href="{% static 'images/favicon.ico' %}"/>

        <!-- Scripts -->
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
        <script src="https://unpkg.com/neo4j-driver"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div id="app">
            {% comment %} {% for node in graph_data %}
                {{node.name}}
            {% endfor %} {% endcomment %}
            <!-- Navbar -->
            <div class="buttons">
                {% comment %} {{filters['SYSRQT']}} {% endcomment %}
                <button class='button' id="home">Home</button>
                {% for filter in filters %}
                    {% for filter_name, filter_color in filter.items %}
                    <button class='button' id="{{filter_name}}" style="background-color: {{filter_color}}">{{filter_name}}</button>
                    {% endfor %}
                {% endfor %}
            </div>
            <!-- End Navbar -->
            <div id="checkboxes">
                <input type="checkbox" id="text"><label for="text"> Nodes with labels </label>
            </div>

            <div v-if="isMainPage">
            <br>
            <label>Cypher query: </label>
            <div class="autocomplete" style="width:100%;">
                <input placeholder="Enter Cypher query like: MATCH (source)<-[rel]->(target) WHERE source.id = 'string_id' RETURN source, rel, target"
                type="text" id="query" value="MATCH (source)<-[rel]->(target) WHERE source.id CONTAINS 'MEMORY' RETURN source,rel,target">
                <button class="btn" id="query_button">Submit query</button>
            </div>
            <!-- <input placeholder="MATCH (source)-[rel]->(target) WHERE source.id = 'string_id' RETURN source, rel, target" margin-left="100px" size="80%" type="text" id="query" value="MATCH (source)-[rel]->(target) WHERE source.id CONTAINS 'MEMORY' RETURN source,rel,target"> -->
            <br>
            <label>Search: </label>
            <div class="autocomplete" style="width:100%;">
                <input placeholder="SWARCH_" type="text" id="search">
                <button class="btn" id="search_button">Submit</button>
            </div>
            </div>


            <div id="legend"></div>
            <div id="legend_links"></div>

            <button id="zoom_in">+</button>
            <button id="zoom_out">-</button>
            <button id="zoom_fit">Zoom fit</button>
            <button id="show_connected_nodes" hidden="hidden" >&#x1F441;</button>
            <button id="search_connected_nodes" hidden="hidden" >&#x2747;</button>
            <br>
            <div id="info"></div>

            {% comment %} <div>
                <ul>
                {% for item in nodes %}
                    <li>{{item}}</li>
                {% endfor %}
                </ul>
                <ul>
                {% for item in links %}
                    <li>{{item}}</li>
                {% endfor %}
                </ul>
            </div> {% endcomment %}
            <div id="graphviz"> </div>

            <div id="tooltip"></div>

        </div>

        <!-- Import App -->
        <script src="static/main.js"></script>

        <!-- Mount App -->
        <script>
            const mountedApp = app.mount('#app')
        </script>

        <script>
            data = {{ graph_data }}
            console.log(data)
        </script>

        <!-- <div id="buttons"></div>
        <div id="checkboxes">
        <input type="checkbox" id="text"><label for="text"> Nodes with labels </label>
        </div>
        <br>
        <label>Cypher query: </label>
        <div class="autocomplete" style="width:100%;">
            <input placeholder="MATCH (source)<-[rel]->(target) WHERE source.id = 'string_id' RETURN source, rel, target" type="text" id="query" value="MATCH (source)<-[rel]->(target) WHERE source.id CONTAINS 'MEMORY' RETURN source,rel,target">
            <button class="btn" id="query_button">Submit query</button>
        </div>
        <br>
        <label>Search: </label>
        <div class="autocomplete" style="width:100%;">
            <input placeholder="SWARCH_" type="text" id="search">
            <button class="btn" id="search_button">Submit</button>
        </div>
        <div id="legend"></div>
        <div id="legend_links"></div>

        <button id="zoom_in">+</button>
        <button id="zoom_out">-</button>
        <button id="zoom_fit">Zoom fit</button>
        <button id="show_connected_nodes" hidden="hidden" >&#x1F441;</button>
        <button id="search_connected_nodes" hidden="hidden" >&#x2747;</button>
        <br>
        <div id="info"></div>
        <div id="graphviz"> </div>
        <div id="tooltip"></div>
        <script type = "text/javascript" src = "initialize.js" defer></script>
        <script type = "text/javascript" src = "legend.js" defer></script>
        <script type = "text/javascript" src = "loader.js" defer></script>
        <script type = "text/javascript" src = "forcegraph.js" defer></script>
        <script type = "text/javascript" src = "search.js" defer></script>
        <script type = "text/javascript" src = "autocomplete.js" defer></script> -->
    </body>
</html>
